/* Container styling for the forgot password page */
.forgot-password-wrapper {
    position: absolute; /* Mutlak konumlandırma */
    top: 50%; /* Üst kenarını ekranın yarısına yerleştir */
    left: 50%; /* Sol kenarını ekranın yarısına yerleştir */
    transform: translate(-50%, -50%); /* Yatay ve dikeyde tam ortalamak için */
    width: 600px; /* Genişlik */
    height: 280px;
    margin: 0 auto ; /* Otomatik hizalama ile merkezleme */
    padding: 20px; /* İçerik ile kenar arasındaki boşluk */
    border: 5px solid #ccc; /* Kenarlık */
    border-radius: 40px; /* Kenar köşesi yuvarlaklığı */
    background-color: #f9f9f9; /* Arkaplan rengi */
  }
  
  /* Styling for the heading */
  .forgot-password-wrapper-heading {
    text-align: center; /* Center text */
    font-size: 24px; /* Font size */
    margin-bottom: 20px; /* Bottom margin */
  }
  
  /* Styling for paragraphs */
  .forgot-password-wrapper-paragraph {
    margin-bottom: 20px; /* Bottom margin */
  }
  
  /* Styling for form groups */
  .forgot-password-wrapper-form-group {
    margin-bottom: 20px; /* Bottom margin */
  }
  
  /* Styling for labels */
  .forgot-password-wrapper-label {
    display: block; /* Display as block */
    margin-bottom: 5px; /* Bottom margin */
  }
  
  /* Styling for input fields */
  .forgot-password-wrapper-input {
    width: 95%; /* Full width */
    padding: 10px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #ccc; /* Border */
  }
  
  /* Styling for buttons */
  .forgot-password-wrapper-button {
    width: 100%; /* Full width */
    padding: 10px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    border: none; /* No border */
    background-color: #007bff; /* Background color */
    color: white; /* Text color */
    cursor: pointer; /* Cursor style */
  }
  
  /* Hover styling for buttons */
  .forgot-password-wrapper-button:hover {
    background-color: #0056b3; /* Darker background color on hover */
  }
  
  /* Styling for links */
  .forgot-password-wrapper-link {
    display: block; /* Display as block */
    text-align: center; /* Center text */
    margin-top: 10px; /* Top margin */
    text-decoration: none; /* No underline */
    color: #007bff; /* Link color */
  }
  
  /* Hover styling for links */
  .forgot-password-wrapper-link:hover {
    text-decoration: underline; /* Underline on hover */
  }
  